@import "_variables"
@import "_partial/normalize"

@import "_partial/header"
@import "_partial/footer"
@import "_partial/sidebar"
@import "_partial/article"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/sponsors"
@import "_partial/ad"
@import "_partial/post"

html
  font-size: 62.5%

html, body, #container
  height: 100%

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0

body,
button,
input,
select,
textarea
  color: color-default
  font-family: 'Open Sans', sans-serif
  font-size: 1.6rem
  line-height: 1.6

a
  text-decoration: none
  color: color-default
