@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-budicon:before {
  content: "a";
}
.icon-budicon-1:before {
  content: "b";
}
.icon-budicon-2:before {
  content: "c";
}
.icon-budicon-3:before {
  content: "d";
}
.icon-budicon-4:before {
  content: "e";
}
.icon-budicon-5:before {
  content: "f";
}
.icon-budicon-7:before {
  content: "h";
}
.icon-budicon-8:before {
  content: "i";
}
.icon-budicon-9:before {
  content: "j";
}
.icon-budicon-10:before {
  content: "k";
}
.icon-budicon-11:before {
  content: "l";
}
.icon-budicon-12:before {
  content: "m";
}
.icon-budicon-13:before {
  content: "n";
}
.icon-budicon-14:before {
  content: "o";
}
.icon-budicon-15:before {
  content: "p";
}
.icon-budicon-16:before {
  content: "q";
}
.icon-budicon-17:before {
  content: "r";
}
.icon-budicon-18:before {
  content: "s";
}
.icon-budicon-19:before {
  content: "t";
}
.icon-budicon-20:before {
  content: "u";
}
.icon-budicon-21:before {
  content: "v";
}
.icon-budicon-22:before {
  content: "w";
}
.icon-budicon-23:before {
  content: "x";
}
.icon-budicon-24:before {
  content: "y";
}
.icon-budicon-25:before {
  content: "z";
}
.icon-budicon-26:before {
  content: "A";
}
.icon-budicon-27:before {
  content: "B";
}
.icon-budicon-6:before {
  content: "g";
}
.icon-budicon-28:before {
  content: "C";
}
.icon-budicon-29:before {
  content: "D";
}
.icon-budicon-30:before {
  content: "E";
}
.icon-budicon-31:before {
  content: "F";
}
.icon-budicon-32:before {
  content: "G";
}
.icon-budicon-33:before {
  content: "H";
}
.icon-budicon-34:before {
  content: "I";
}
.icon-budicon-35:before {
  content: "J";
}
.icon-budicon-36:before {
  content: "K";
}
.icon-budicon-37:before {
  content: "L";
}
.icon-budicon-38:before {
  content: "M";
}
.icon-budicon-39:before {
  content: "N";
}
.icon-budicon-40:before {
  content: "O";
}
.icon-budicon-41:before {
  content: "P";
}
.icon-budicon-42:before {
  content: "Q";
}
