<article id="<%= post.layout %>-<%= post.slug %>" class="article">
  <%- page.content %>

  <footer class="article-footer">
    Caught a mistake? Edit this page on <a href="https://github.com/socketio/socket.io-website/blob/master/source/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank" class="link">GitHub</a>
  </footer>
</article>
