
<%
  const sponsors = [
    {
      "url": "https://www.casinotopp.net/",
      "img": "https://images.opencollective.com/casino-topp/1dd399a/logo.png",
      "alt": "Casino Topp"
    },
    {
      "url": "https://FrontendMasters.com",
      "img": "https://images.opencollective.com/frontendmasters/0b9cda4/logo.png",
      "alt": "Frontend Masters"
    },
    {
      "url": "https://www.vpsserver.com",
      "img": "https://images.opencollective.com/vpsservercom/logo.png",
      "alt": "VPS Hosting"
    },
    {
      "url": "https://www.ramotion.com/agency/ui-ux-design",
      "img": "https://images.opencollective.com/truevendor/ddf2f01/logo.png",
      "alt": "ui ux design agency"
    },
    {
      "url": "https://xn--smlnutensikkerhet-9qbb.com",
      "img": "https://images.opencollective.com/smalanutensikkerhet/ea9fabf/logo.png",
      "alt": "smålån uten sikkerhet"
    },
    {
      "url": "https://www.kreditvergleich24.ch/",
      "img": "https://images.opencollective.com/kreditvergleich-24/fd863e6/logo.png",
      "alt": "Kreditvergleich 24"
    },
    {
      "url": "https://www.topratedbingosites.co.uk/",
      "img": "https://images.opencollective.com/topratedbingos/bfdfa77/logo.png",
      "alt": "TopRatedBingoSites.co.uk"
    },
    {
      "url": "https://www.firesticktricks.com",
      "img": "https://images.opencollective.com/fire-stick-tricks/b8fbe2c/logo.png",
      "alt": "Fire Stick Tricks"
    },
    {
      "url": "https://blokt.com/",
      "img": "https://images.opencollective.com/blokt/42db2e8/logo.png",
      "alt": "Blokt"
    },
    {
      "url": "https://gorillasports.no/",
      "img": "https://images.opencollective.com/gorilla-sports-as/4a73081/logo.png",
      "alt": "Gorilla Sports AS"
    },
    {
      "url": "https://www.handyorten.de",
      "img": "https://images.opencollective.com/handyorten/28d08e9/logo.png",
      "alt": "HandyOrten.de"
    },
    {
      "url": "https://clay.global",
      "img": "https://images.opencollective.com/clayglobal/2468f34/logo.png",
      "alt": "clay"
    },
    {
      "url": "https://casinofavoritter.com/",
      "img": "https://images.opencollective.com/casino-favoritter/101101a/logo.png",
      "alt": "Casino Favoritter"
    },
    {
      "url": "https://icons8.com",
      "img": "https://images.opencollective.com/icons8/7fa1641/logo.png",
      "alt": "Icons8: free icons, photos, illustrations, and music"
    },
    {
      "url": "https://lemonlaw.site",
      "img": "https://images.opencollective.com/lemon-law/da11538/logo.png",
      "alt": "Lemon Law"
    },
    {
      "url": "https://uxplanet.org/top-ui-ux-design-agencies-user-experience-firms-8c54697e290",
      "img": "https://images.opencollective.com/ui-ux-design-agencies/cae5dfe/logo.png",
      "alt": "UI UX Design Agencies"
    },
    {
      "url": "https://www.bonus.ca/",
      "img": "https://images.opencollective.com/bonus-finder/4b3394e/logo.png",
      "alt": "BonusFinder Canada"
    },
    {
      "url": "https://www.dcslsoftware.com/",
      "img": "https://images.opencollective.com/dcsl-software/a662911/logo.png",
      "alt": "DCSL software"
    },
    {
      "url": "https://bid4papers.com/write-my-essay.html",
      "img": "https://images.opencollective.com/yiannakis-ttafounas-ttafounas/c0d19ec/avatar.png",
      "alt": "Yiannakis Ttafounas Ttafounas"
    },
    {
      "url": "https://bitcasino.io",
      "img": "https://images.opencollective.com/bitcasino/fd9ebb5/logo.png",
      "alt": "Bitcasino"
    },
    {
      "url": "https://wongagames.co.uk",
      "img": "https://images.opencollective.com/wongagames/d3eb92f/logo.png",
      "alt": "WONGA GAMES"
    },
    {
      "url": "https://mobilunity.com/",
      "img": "https://images.opencollective.com/mobilunity/e4ca372/logo.png",
      "alt": "Mobilunity"
    },
    {
      "url": "https://www.directory.net",
      "img": "https://images.opencollective.com/link-directory/7ce0e89/logo.png",
      "alt": "Link Directory"
    },
    {
      "url": "https://medium.com/@niksundin/best-web-design-companies-1872e445775f",
      "img": "https://images.opencollective.com/top-web-design-agencies/d92d747/logo.png",
      "alt": "Top Web Design Agencies"
    },
    {
      "url": "https://www.casinotop.com/",
      "img": "https://images.opencollective.com/casinotop-com/10fd95b/logo.png",
      "alt": "CasinoTop.com"
    },
    {
      "url": "https://www.bonus.net.nz/free-spins-no-deposit",
      "img": "https://images.opencollective.com/bonusfinder-new-zealand/5e2d35b/logo.png",
      "alt": "BonusFinder New Zealand"
    },
    {
      "url": "https://www.bonusfinder.com/casino-bonus",
      "img": "https://images.opencollective.com/bonusfinder-com-us/8a47a19/logo.png",
      "alt": "Bonusfinder.com US"
    },
    {
      "url": "https://www.bonus.com.de/freispiele",
      "img": "https://images.opencollective.com/bonusfinder-deutschland/646169e/logo.png",
      "alt": "BonusFinder Deutschland"
    },
    {
      "url": "https://www.bonus.ca/fr/casino-en-ligne",
      "img": "https://images.opencollective.com/bonusfinder-casino-en-ligne/099bd9e/logo.png",
      "alt": "BonusFinder Casino en Ligne"
    },
    {
      "url": "https://casinoutanreg.com/casino-utan-svensk-licens/",
      "img": "https://images.opencollective.com/casinoutanreg/8a32cf6/logo.png",
      "alt": "Casinoutanreg"
    },
    {
      "url": "https://casino-professor.com/",
      "img": "https://images.opencollective.com/casino-professor/9e870a2/logo.png",
      "alt": "Casino Professor"
    },
    {
      "url": "https://www.norsknettcasino.net",
      "img": "https://images.opencollective.com/norsknettcasino/3ce6d1e/logo.png",
      "alt": "Norsknettcasino"
    },
    {
      "url": "https://casinoonline.casino/",
      "img": "https://images.opencollective.com/casino-online/4c8371c/logo.png",
      "alt": "Casino Online"
    },
    {
      "url": "https://www.top5credits.com/",
      "img": "https://images.opencollective.com/top5credits-com/4e61cf1/logo.png",
      "alt": "Top5Credits.com"
    },
    {
      "url": "https://www.timesofcasino.com/",
      "img": "https://images.opencollective.com/timesofcasino/7c26210/logo.png",
      "alt": "TimesOfCasino"
    },
    {
      "url": "https://www.ivyanswer.com",
      "img": "https://images.opencollective.com/ivy-answering-service/logo.png",
      "alt": "Ivy Answering Service"
    },
    {
      "url": "https://www.turtlebet.com/fi/kaikki-nettikasinot.html",
      "img": "https://images.opencollective.com/turtlebet-nettikasinot/4799a27/logo.png",
      "alt": "Turtlebet - Nettikasinot"
    },
    {
      "url": "https://casinoutansvensklicens.casino",
      "img": "https://images.opencollective.com/casino-utan-svensk-licens/235b5e6/logo.png",
      "alt": "Casino utan Svensk Licens"
    },
    {
      "url": "https://onlinecasinoinformatie.com/",
      "img": "https://images.opencollective.com/ricardo-goncalves/3275f75/avatar.png",
      "alt": "Onlinecasinoinformatie.com"
    },
    {
      "url": "https://www.minitool.com",
      "img": "https://images.opencollective.com/admin-minitool/1900ab2/avatar.png",
      "alt": "Admin MiniTool"
    },
    {
      "url": "https://www.10reviews.com",
      "img": "https://images.opencollective.com/10-reviews/aa27946/logo.png",
      "alt": "10 Reviews"
    },
    {
      "url": "https://www.norgescasino.com/",
      "img": "https://images.opencollective.com/norges-casino1/9a90f8f/logo.png",
      "alt": "Norges Casino"
    },
    {
      "url": "https://taxfreesnus.com/",
      "img": "https://images.opencollective.com/taxfreesnus-com/ebf869a/logo.png",
      "alt": "TaxFreeSnus.com"
    },
    {
      "url": "https://www.realtimecommunicationsworld.com/",
      "img": "https://images.opencollective.com/marketing-affiliates-llc/409c2d7/logo.png",
      "alt": "Real Time Communications World"
    },
    {
      "url": "https://luottopalvelut.fi",
      "img": "https://images.opencollective.com/luottopalvelut/84e2f94/logo.png",
      "alt": "Luottopalvelut"
    },
    {
      "url": "https://420couponcodes.com",
      "img": "https://images.opencollective.com/420couponcodes/c088461/logo.png",
      "alt": "420 Coupon Codes"
    },
    {
      "url": "https://rapidessay.com/",
      "img": "https://images.opencollective.com/yevgen-yanovskyy/ed3dc15/avatar.png",
      "alt": "RapidEssay"
    },
    {
      "url": "https://meindivi.de/",
      "img": "https://images.opencollective.com/divi-theme/0b85da9/logo.png",
      "alt": "Divi Theme"
    },
    {
      "url": "https://www.nettikasinot.org",
      "img": "https://images.opencollective.com/nettikasinot-org/53a4b44/logo.png",
      "alt": "Nettikasinot.org"
    },
    {
      "url": "https://www.credimaxx.de/",
      "img": "https://images.opencollective.com/credimaxx-r-gmbh/586d178/logo.png",
      "alt": "CrediMaxx® GmbH"
    },
    {
      "url": "https://www.pelisivut.com",
      "img": "https://images.opencollective.com/pelisivut/04f08f2/logo.png",
      "alt": "Pelisivut"
    },
    {
      "url": "https://www.kasinot.fi",
      "img": "https://images.opencollective.com/kasinot-fi/e09aa2e/logo.png",
      "alt": "Kasinot.fi"
    },
    {
      "url": "https://www.coinnewsspan.com",
      "img": "https://images.opencollective.com/coinnewsspan/c0933b4/logo.png",
      "alt": "CoinNewsSpan"
    },
    {
      "url": "https://www.bestecasinobonussen.nl/",
      "img": "https://images.opencollective.com/bestecasinobonussen/26bfc24/logo.png",
      "alt": "Bestecasinobonussen.nl"
    },
    {
      "url": "https://casinogringos.com/fi/",
      "img": "https://images.opencollective.com/casinogringos/1c1782c/logo.png",
      "alt": "Casinogringos"
    },
    {
      "url": "https://www.paraskasino.fi",
      "img": "https://images.opencollective.com/paraskasino/a39c3d6/logo.png",
      "alt": "Paraskasino"
    },
    {
      "url": "https://casinoutanlicenssverige.com",
      "img": "https://images.opencollective.com/casino-utan-licens-sverige/6111002/logo.png",
      "alt": "Casino Utan Licens Sverige"
    },
    {
      "url": "https://www.casinot.net",
      "img": "https://images.opencollective.com/casinot-net/242597a/logo.png",
      "alt": "Casinot.net"
    },
    {
      "url": "https://www.lioncasinos.com",
      "img": "https://images.opencollective.com/lioncasinos/0df3341/logo.png",
      "alt": "Lioncasinos"
    },
    {
      "url": "https://smileo.com",
      "img": "https://images.opencollective.com/smileo/bc6b593/logo.png",
      "alt": "Smileo"
    },
    {
      "url": "https://www.kasinohai.com/nettikasinot",
      "img": "https://images.opencollective.com/kasinohai-com/41d4f51/logo.png",
      "alt": "Kasinohai.com"
    },
    {
      "url": "https://www.digitallogic.co",
      "img": "https://images.opencollective.com/digital-logic/4ba8277/logo.png",
      "alt": "Digital Logic"
    },
    {
      "url": "https://Onlinecasinoplatz.com",
      "img": "https://images.opencollective.com/onlinecasinoplatz-com/8f8b647/logo.png",
      "alt": "Onlinecasinoplatz.com"
    },
    {
      "url": "https://investingreviews.co.uk/",
      "img": "https://images.opencollective.com/investingreviews-co-uk/8cdb1e0/logo.png",
      "alt": "InvestingReviews.co.uk"
    },
    {
      "url": "https://triplebyte.com/os/opencollective",
      "img": "https://images.opencollective.com/triplebyte/3f80e63/logo.png",
      "alt": "Triplebyte"
    },
    {
      "url": "https://www.webton.nl",
      "img": "https://images.opencollective.com/webton/2e2a795/logo.png",
      "alt": "Webton"
    },
    {
      "url": "https://casinodaddy.com",
      "img": "/images/casinodaddy.png",
      "alt": "Casino Daddy"
    },
    {
      "url": "https://www.nya-casinon.online/spelpaus/",
      "img": "https://images.opencollective.com/nya-casinon1/510530a/logo.png",
      "alt": "Nya Casinon"
    },
    {
      "url": "https://casinoutankonto.net/casino-utan-svensk-licens/",
      "img": "https://images.opencollective.com/casinoutankonto-net/24f880b/logo.png",
      "alt": "Casinoutankonto.net"
    },
    {
      "url": "https://netticasinohex.com/kasinot/",
      "img": "https://images.opencollective.com/netticasinohex-com/71d7417/logo.png",
      "alt": "NettiCasinoHEX.com"
    },
    {
      "url": "https://casinohex.at/online-casinos/",
      "img": "https://images.opencollective.com/casinohex-at/8e06f0e/logo.png",
      "alt": "CasinoHEX.at"
    },
    {
      "url": "https://casinohex.se/online-casinon/",
      "img": "https://images.opencollective.com/casinohex-se/795919b/logo.png",
      "alt": "CasinoHEX.se"
    },
    {
      "url": "https://www.thebigphonestore.co.uk/",
      "img": "https://images.opencollective.com/thebigphonestore/78965b2/logo.png",
      "alt": "The Big Phone Store"
    },
    {
      "url": "https://nettikasinolista.com",
      "img": "https://images.opencollective.com/nettikasinolista/fd361ee/logo.png",
      "alt": "Nettikasinolista.com"
    },
    {
      "url": "https://www.777casino.co.uk/",
      "img": "https://images.opencollective.com/777-casino/a58fb66/logo.png",
      "alt": "777 Casino"
    },
    {
      "url": "https://casinofox.se/casino-utan-svensk-licens",
      "img": "https://images.opencollective.com/casinofox/4c744cd/logo.png",
      "alt": "Casinofox.se"
    },
    {
      "url": "https://ats.io",
      "img": "https://images.opencollective.com/io_ats/6d7f867/logo.png",
      "alt": "ATS.io"
    },
    {
      "url": "https://www.parhaatnettikasinot.com",
      "img": "https://images.opencollective.com/parhaatnettikasinot-com/fc53017/logo.png",
      "alt": "parhaatnettikasinot.com"
    },
    {
      "url": "https://aussiecasinohex.com/online-casinos/",
      "img": "https://images.opencollective.com/aussiecasinohex/923df37/logo.png",
      "alt": "AussieCasinoHEX.com"
    },
    {
      "url": "https://casinohex.co.za/online-casinos/",
      "img": "https://images.opencollective.com/casinohex-co-za/470843d/logo.png",
      "alt": "CasinoHEX.co.za"
    },
    {
      "url": "https://swisscasinohex.com/online-casinos/",
      "img": "https://images.opencollective.com/swisscasinohex-com/107940c/logo.png",
      "alt": "SwissCasinoHEX.com"
    },
    {
      "url": "https://onlinecasinohex.nl/online-casinos/nederland/",
      "img": "https://images.opencollective.com/onlinecasinohex-nl/ed24082/logo.png",
      "alt": "OnlineCasinoHEX.nl"
    },
    {
      "url": "https://kasynohex.com/kasyna-online/",
      "img": "https://images.opencollective.com/kasynohex-com/b25daf6/logo.png",
      "alt": "KasynoHEX.com"
    },
    {
      "url": "https://casinohex.ro/online-cazino/",
      "img": "https://images.opencollective.com/casinohex-ro/493996e/logo.png",
      "alt": "CasinoHEX.ro"
    },
    {
      "url": "https://norskcasinohex.com/casino-pa-nett/",
      "img": "https://images.opencollective.com/norskcasinohex-com/f0d4c76/logo.png",
      "alt": "NorskCasinoHEX.com"
    },
    {
      "url": "https://bndlstech.com",
      "img": "https://images.opencollective.com/boundless-technology/31002a3/logo.png",
      "alt": "Boundless Technology"
    },
    {
      "url": "https://www.thecasinodb.com",
      "img": "https://images.opencollective.com/thecasinodb/e5a7e92/logo.png",
      "alt": "TheCasinoDB"
    },
    {
      "url": "https://www.japanesecasino.com/",
      "img": "https://images.opencollective.com/japanesecasino/b0ffe3c/logo.png",
      "alt": "Japanesecasino"
    },
    {
      "url": "https://australiacasinoonline.com/",
      "img": "https://images.opencollective.com/australiacasinoonline/29e7288/logo.png",
      "alt": "australiacasinoonline"
    },
    {
      "url": "https://www.parhaatkasinot.com",
      "img": "https://images.opencollective.com/parhaatkasinot/e7fda21/logo.png",
      "alt": "Parhaatkasinot"
    },
    {
      "url": "https://www.capitalbay.news/",
      "img": "https://images.opencollective.com/capitalbaynews/7f88b91/logo.png",
      "alt": "Capitalbay News"
    },
    {
      "url": "https://cryptomoonpress.com/",
      "img": "https://images.opencollective.com/cryptomoonpress/d5ada27/logo.png",
      "alt": "CryptoMoonPress"
    },
    {
      "url": "https://raj.bet/",
      "img": "https://images.opencollective.com/rajbet/6928d22/avatar.png",
      "alt": "RajBet"
    },
    {
      "url": "https://codeless.co",
      "img": "https://images.opencollective.com/codelessthemes/9851572/logo.png",
      "alt": "Codeless"
    },
    {
      "url": "https://www.polskiekasyno.com/",
      "img": "https://images.opencollective.com/polskiekasyno-com/a8975c6/logo.png",
      "alt": "Polskiekasyno.com"
    },
    {
      "url": "https://papersowl.com/research-papers",
      "img": "https://images.opencollective.com/papersowl2/510de59/logo.png",
      "alt": "Papersowl"
    },
    {
      "url": "https://mosttrust.com",
      "img": "https://images.opencollective.com/mosttrust-com/69aeafb/logo.png",
      "alt": "MostTrust.com"
    },
    {
      "url": "https://neuecasinos24.com/casino-bonus/ohne-einzahlung",
      "img": "https://images.opencollective.com/neuecasinos24/7ab3e66/logo.png",
      "alt": "NeueCasinos24"
    },
    {
      "url": "https://bitkong.com",
      "img": "https://images.opencollective.com/bitkong/cac9cc0/logo.png",
      "alt": "BitKong"
    },
    {
      "url": "https://gamblizard.com/",
      "img": "https://images.opencollective.com/gamblizard-com/logo.png",
      "alt": "gamblizard.com"
    },
    {
      "url": "https://tweaklab.org",
      "img": "https://images.opencollective.com/roland-bronnimann/avatar.png",
      "alt": "Roland Brönnimann"
    },
    {
      "url": "https://www.betacalendars.com/printable-calendar",
      "img": "https://images.opencollective.com/betacalendars/9334b33/logo.png",
      "alt": "2021 calendar"
    },
    {
      "url": "https://www.norges.casino/",
      "img": "https://images.opencollective.com/norges-casino2/8329235/logo.png",
      "alt": "Norges Casino"
    },
    {
      "url": "https://zenserp.com",
      "img": "https://images.opencollective.com/zenserp/c889ba7/logo.png",
      "alt": "Zenserp"
    },
    {
      "url": "https://zenscrape.com",
      "img": "https://images.opencollective.com/zenscrape/148fc4f/logo.png",
      "alt": "Zenscrape"
    },
    {
      "url": "https://casino-academia.jp",
      "img": "https://images.opencollective.com/casinoacademia/90fc970/logo.png",
      "alt": "casinoacademia"
    },
    {
      "url": "https://www.backlinksrocket.com",
      "img": "https://images.opencollective.com/backlinksrocket/7d524fd/logo.png",
      "alt": "BacklinksRocket"
    },
    {
      "url": "https://broker.cex.io/",
      "img": "https://images.opencollective.com/broker-cex-io/4f12617/logo.png",
      "alt": "Broker.Cex.io"
    },
    {
      "url": "https://buy.fineproxy.org/eng/",
      "img": "/images/fineproxy.png",
      "alt": "Buy.Fineproxy.Org"
    },
    {
      "url": "https://www.nettikasinotsuomalaisille.com/nettikasinot-ilman-rekisteroitymista/",
      "img": "/images/netti.png",
      "alt": "Nettikasinot Suomalaisille"
    },
    {
      "url": "https://helppovertailu.fi",
      "img": "https://images.opencollective.com/helppovertailu-fi/8d6c0d3/logo.png",
      "alt": "Helppovertailu.fi"
    },
    {
      "url": "https://www.neueonline-casinos.com/",
      "img": "/images/neue.png",
      "alt": "Neue Online Casinos"
    },
    {
      "url": "https://casinofiables.com/",
      "img": "https://images.opencollective.com/casinofiables-com/b824bab/logo.png",
      "alt": "Casinofiables.com"
    },
    {
      "url": "https://builderbook.org",
      "img": "https://images.opencollective.com/kelly-burke/d256815/avatar.png",
      "alt": "Kelly Burke"
    },
    {
      "url": "https://codepilot.ai",
      "img": "https://images.opencollective.com/codepilotai/732befb/logo.png",
      "alt": "CodePilot.ai"
    },
    {
      "url": "https://de.twin.com",
      "img": "https://images.opencollective.com/twin/640b555/logo.png",
      "alt": "Twin"
    },
    {
      "url": "https://www.123calendars.com/january-calendar.html",
      "img": "https://images.opencollective.com/january-calendar/5252e33/logo.png",
      "alt": "January 2021 Calendar"
    },
    {
      "url": "https://onlinecasinoguide.co.nz/",
      "img": "https://images.opencollective.com/onlinecasinoguide-co-nz/b16a388/logo.png",
      "alt": "OnlineCasinoGuide.co.nz"
    },
    {
      "url": "https://www.newcasinosites.me.uk/",
      "img": "https://images.opencollective.com/newcasinosites1/490d1f2/logo.png",
      "alt": "NewCasinoSites"
    },
    {
      "url": "https://www.online-casino-spielautomaten.de",
      "img": "https://images.opencollective.com/online-casino-spielautomaten/2448303/logo.png",
      "alt": "Online Casino Spielautomaten"
    },
    {
      "url": "https://www.aandelenkopen.com",
      "img": "/images/aandelenkopen.png",
      "alt": "Aandelen Kopen"
    },
    {
      "url": "https://www.coupons4printing.com",
      "img": "https://images.opencollective.com/coupons4printing/862708b/logo.png",
      "alt": "Coupons4Printing"
    },
    {
      "url": "https://bankfinans.se/",
      "img": "https://images.opencollective.com/bank-finans/f1e6d47/logo.png",
      "alt": "Bank Finans"
    },
    {
      "url": "https://www.casinoutanlicens.io/",
      "img": "https://images.opencollective.com/casino-utan-svensk-licens2/a3efb14/logo.png",
      "alt": "Casino utan licens"
    },
    {
      "url": "https://twojtyp.pl/",
      "img": "https://images.opencollective.com/twojtyp/cd0b486/logo.png",
      "alt": "Typy Bukmacherskie"
    },
    {
      "url": "https://subbed.org",
      "img": "https://images.opencollective.com/reddit-wiki/4fb9311/logo.png",
      "alt": "Reddit Wiki"
    },
    {
      "url": "https://njohnson7.github.io/",
      "img": "https://images.opencollective.com/njohnson7/fae8bd7/avatar.png",
      "alt": "Nick Johnson"
    },
    {
      "url": "https://www.routerhosting.com/",
      "img": "https://images.opencollective.com/routerhosting/10d5f7a/logo.png",
      "alt": "RouterHosting"
    },
    {
      "url": "https://bitkong.com",
      "img": "https://images.opencollective.com/incognito-11af27dc/avatar.png",
      "alt": "BitKong"
    },
    {
      "url": "https://www.kasinosivu.com",
      "img": "https://images.opencollective.com/kasinosivut/fa3bd32/logo.png",
      "alt": "Kasinosivut"
    },
    {
      "url": "https://luckydice.com",
      "img": "https://images.opencollective.com/playluckydice/81b170e/logo.png",
      "alt": "LuckyDice"
    },
    {
      "url": "https://bingo77uk.com/",
      "img": "https://images.opencollective.com/bingo77uk/9065f4a/logo.png",
      "alt": "Bingo77"
    },
    {
      "url": "https://pokiesportal.com/",
      "img": "https://images.opencollective.com/australian-online-pokies/db9fc3d/logo.png",
      "alt": "Australian online pokies"
    }
  ];

%>

{% raw %}
<main class="site-main home" role="main">
  <header class="entry-header fading">
    <h1 class="entry-title">SOCKET.IO 3.0 IS HERE</h1>
    <h2 class="entry-subtitle"><span class="row">FEATURING THE FASTEST AND MOST RELIABLE</span> <span class="row">REAL-TIME ENGINE</span></h2>
  </header><!-- .entry-header -->
  <div id="screen-fill">

    <div class="window editor fading">
      <div class="header">
        <span class="bullet bullet-red"></span><span class="bullet bullet-yellow"></span><span class="bullet bullet-green"></span><span class="title">~/Projects/tweets/index.js</span>
      </div>
      <div class="body">
        <ol class="code">
          <li><span class="code"><span class="v">var</span> io = <span class="io">require('socket.io')(80)</span>;</span></li>
          <li><span class="code"><span class="v">var</span> cfg = require('./config.json');</span></li>
          <li><span class="code"><span class="v">var</span> tw = require('node-tweet-stream')(cfg);</span></li>
          <li><span class="code">tw.track('socket.io');</span></li>
          <li><span class="code">tw.track('javascript');</span></li>
          <li><span class="code">tw.on('tweet', <span class="fn">function</span>(tweet){</span></li>
          <li><span class="code">&nbsp;&nbsp;<span class="io">io.emit('tweet', tweet)</span>;</span></li>
          <li><span class="code">});</span></li>
        </ol>
      </div>
    </div>

    <div class="window browser fading">
      <div class="header">
        <span class="bullet bullet-red"></span><span class="bullet bullet-yellow"></span><span class="bullet bullet-green"></span><span class="title"><span class="scheme">https://</span>your-node-app.com</span>
      </div>
      <div class="body">
        <p>Tweets about <b>socket.io</b> and <b>javascript</b></p>
        <ul id="tweets" class="tweets"></ul>
      </div>
    </div>

    <span class="arrow fading"><a href="#examples">B</a></span>
  </div>

  <div class="entry-content">
    <p class="centered">
      <i class="larger">Socket.IO enables real-time, bidirectional and event-based communication.</i><br />
      <i>It works on every platform, browser or device, focusing equally on reliability and speed.</i>
    </p>

    <div id="entries">
      <div id="examples">
        <div class="example-column left">
          <div class="example-entry icon analytics">
            <h2>Real-time analytics</h2>
            <p>Push data to clients that gets represented as real-time counters, charts or logs.</p>
          </div>
          <div class="repel"></div>
          <div class="example-entry icon binary">
            <h2>Binary streaming</h2>
            <p>Starting in 1.0, it's possible to send any blob back and forth: image, audio, video.</p>
          </div>
        </div>

        <div class="example-column right">
          <div class="example-entry icon chat">
            <h2>Instant messaging and chat</h2>
            <p>Socket.IO's "Hello world" is a chat app in just a few lines of code.</p>
          </div>
          <div class="repel"></div>
          <div class="example-entry icon collab">
            <h2>Document collaboration</h2>
            <p>Allow users to concurrently edit a document and see each other's changes.</p>
          </div>
        </div>
      </div><!-- #examples -->

      <div id="information">
        <div class="information-column left">
          <div class="information-entry">
            <h3>USED BY EVERYONE</h3>
            <p>From Microsoft Office, Yammer, Zendesk, Trello... to hackathon winners and little startups.</p>
            <p>One of the most powerful JavaScript frameworks on GitHub, and most depended-upon npm modules.</p>
          </div>
        </div>

        <div class="information-column right">
          <div class="information-entry">
            <h3>IMMENSELY POWERFUL, YET EASY TO USE</h3>
            <p>Our getting started guide will show you how to create lots of amazing applications in fewer than 200 lines of code.</p>
            <p>We're not making that up. Get started <a href="/get-started/chat">now</a>.</p>
          </div>
        </div>
      </div>
{% endraw %}

      <div id="sponsors">
        <p>OUR AWESOME SPONSORS</p>

        <%_ for (let sponsor of sponsors) {_%>
        <div class="sponsor">
          <a href="<%- sponsor.url %>" target="_blank" ref="sponsored noopener">
            <img src="<%- sponsor.img %>" alt="<%- sponsor.alt %>">
          </a>
        </div>
        <%_ } _%>
      </div>

{% raw %}
      <div>
        <div class="information-column left">
          <div class="information-entry">
            <h3>JOIN THE COMMUNITY</h3>
            <ul style="margin-left: 0px; list-style-type: none; padding-left: 0">
              <li style="margin-bottom: 5px;">Real-time help? Find us on <a href="https://socketio-slackin.herokuapp.com/">Slack</a></li>
              <li style="margin-bottom: 5px;">Contribute code or report issues on <a href="https://github.com/socketio/socket.io">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endraw %}
