#carbonads
  width: 130px
  display: block
  overflow: hidden
  line-height: 1.5

  position: relative
  float: right
  margin: 20px
  @media mq-medium
    margin-top: 60px
  @media mq-large
    float: none
    position: fixed
    right: 0
    top: 6rem

  a
    color: #9b9b9b

  span
    display: block
    overflow: hidden

  .carbon-img
    display: block
    margin: 0 auto 8px
    line-height: 0

  .carbon-text
    display: block
    color: #9b9b9b
    font-size: 1.2rem
    margin-bottom: 20px

  .carbon-poweredby
    display: block
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 1rem
    line-height: 1
