.article
  margin: 40px
  @media mq-medium
    margin-left: 320px
  @media mq-large
    margin-right: 240px
  padding-top: 60px

  .highlight figure
    margin: 0

  code
    margin: 0 2px
    color: #666

  .article-footer
    margin: 60px 0 30px

  .article-footer .link
    text-decoration: underline

  :target
    padding-top: 80px
    margin-top: -60px

  li
    margin-top: 10px;

  a
    text-decoration: underline

  img
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%

  table
    width: 100%
    border-collapse: collapse

  td
    border-top: 1px solid #999
    padding: 1rem
