
.post
  .metadata
    margin-top: 60px
    margin-bottom: 60px

    .metadata-title
      text-align: center
      font-size: 40px
      font-weight: lighter
      line-height: 1.2
      margin-bottom: 4px

    .metadata-author
      text-align: center
      font-weight: lighter
      background: #fff
      color: #777
      margin-top: 0

  .links
    margin-top: 40px
