
#sponsors
  display: none
  @media mq-large
    display: block

  position: fixed
  top: 6rem
  right: 0
  padding: 2rem

  .sponsors-header
    font-size: 1.2rem
    color: #9b9b9b

  .sponsor-list
    padding-left: 2rem

  .sponsor
    list-style-type: none
    margin-top: 1rem

  .sponsor-image
    width: 130px
