
#sponsors
  .sponsor
    display: inline-block
    width: 100%
    @media mq-medium
      width: 32%
    height: 100px
    line-height: 100px
    margin-top: 1.5rem
    margin-bottom: 1.5rem
    text-align: center
    img
      display: inline-block
      max-width: 80%
      max-height: 100%
      vertical-align: middle
